@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to EComm</h1>

Check out our <a asp-controller="Product">products!</a>

Check them out @Html.ActionLink("asynchronously", "Async", "Product") too...